__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

.git/
.gitignore

.env

.vscode/
.idea/

*.swp
*.log

.DS_Store
Thumbs.db

static/qrcodes/*.png
static/uploads/*

!static/qrcodes/.gitkeep
!static/uploads/.gitkeep